[submodule "vendor/toml11"]
	path = subprojects/toml11
	url = git@github.com:ToruNiina/toml11.git
[submodule "vendor/sdbus-cpp"]
	path = subprojects/sdbus-cpp
	url = git@github.com:Kistler-Group/sdbus-cpp.git
